
.error
{
    background-color: rgb(248, 203, 203);
    border: 1px solid rgb(245, 87, 87);
    color: rgb(245, 49, 49);
    padding: 10px 15px;
}

.dashboard
{
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.user-post-area
{
    padding: 20px 0;
}
form
{
    overflow: hidden;
    margin-bottom: 10px;
}
textarea
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 18px;
    padding: 10px;
    resize: vertical;   
}

/* .post 
{
    padding: 20px;
    border: 1px solid #bbb;
    color: #888;
    margin-bottom: 5px;
} */

.greeting
{
    color: #222;
    background-color: rgb(245, 255, 245);
    border: 1px solid rgb(210, 231, 210);
    padding: 1em;
}
.greeting span
{
    color: rgb(121, 187, 16);
}



