extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Đăng nhập với  
            span=name 
    else 
        h1.greeting Chào mừng  
            span=name 
            |  đến với SPORT PLAY


append links 
    a(href="/loggout") Loggout 

block content
    .dashboard 
        .user 
            +message(opp, name)
            