extends layout

block content

  //-include includes/header
  include includes/banner1
  include includes/content
  include includes/footer


  //- script(src="/swiperCdn/swiper.min.js")
  //- script(src="/js/content.js")
