extends layout

block content

    //------------------ content ----------------
    .news
        h6 XẢ CUỐI MÙA - SALE UP TO 60%
        p Cú nổ đầu tiên trong tháng 2 này là gì? Đến SPORT PLAY đi, bạn sẽ biết! Những tín đồ thể thao và cả thời trang cao cấp sẽ phải bất ngờ với loạt ưu đãi "đánh" trực tiếp vào giá thành, áp dụng trên toàn bộ hệ thống SPORT PLAY. 
            | Đặc biệt, có sự góp mặt của những sản phẩm vừa mới lên kệ, mới nhất của 2 thương hiệu nổi tiếng Adidas và Nike.
        .newImg
            img(src="/images/tintuc/xahang.jpg", alt="")
        li Giảm 30% khi mua sản phẩm đầu tiên và tới 40% khi mua sang sản phẩm thứ 2
        li Xả kho bằng hết tất cả những mẫu giầy dép, quần áo mùa vừa qua để chuẩn bị thay đổi diện mạo cửa hàng bằng 1 đợt hàng Thu - Đông hoánh tráng!
        li Thương hiệu thời trang thiết kế AM cùng lúc đồng giá toàn bộ sản phẩm chỉ từ 199,000đ - Mức giá không tưởng để sở hữu 1 món đồ hiệu
        br
        p Và chắc chắn sẽ còn nhiều bất ngờ thú vị hơn, độc đáo hơn đang chờ đợi quý khách hàng. SPORT PLAYsẽ cập nhật liên tục thông tin chương trình và list sản phẩm khuyến mãi trên fanpage và website! Khách hàng hoàn toàn có thể đặt trước qua online hoặc đến trực tiếp cửa hàng trên toàn quốc.
        p
            b Hotline tư vấn miễn phí: 0989324999 / 0963678120
        p
            b Email: sportplay@gmail.com
        p 
            b Địa chỉ: Sport Play - 90 Hàm Nghi, Nam Từ Liêm, Hà Nội


    //---------------- footer ------------------
    include includes/footer 