extends layout

block content
    //------------------ content ----------------
    .news
        h6 NHẬN LÌ XÌ TẾT - TẾT NGẬP VẬN MAY
        p Một mùa Tết nữa lại đến và điều chúng ta luôn trông ngóng nhất là gì? Chắc hẳn đó là những phong bao lì xì đỏ trao gửi vạn lời chúc tốt lành. SPORT PLAY xin kính chúc khách hàng 1 năm mới an khang - thịnh vượng - phát tài - phát lộc. Và đừng quên, SPORT PLAY đã chuẩn bị cho bạn kho quà tặng cực kỳ lớn. Check ngay cùng SPORT PLAY đi!!
        .newImg
            img(src="/images/tintuc/lixitet.jpg", alt="")
        p Lì xì năm nay sẽ bao gồm hàng loạt phần quà hàng hiệu và tiện mặt tận tay (mệnh giá lên tới 500,000đ). Ngay từ 27/01 đến hết 02/02, khách hàng hoàn toàn có cơ hội sở hữu chúng tại hệ thống cửa hàng SPORT PLAY trên toàn quốc.
            | SPORT PLAY cũng xin cảm ơn quý khách hàng đã luôn yêu mến, tin tưởng và đồng hành của thương hiệu trong suốt thời gian qua. Thay lời tri ân sâu sắc, SPORT PLAY xin gửi gắm vào những phong bao đỏ đến tay khách hàng.
            | Lưu ý: Áp dụng khi khách hàng mua sắm với đơn hàng từ 3,000,000đ
        p
            b Hotline tư vấn miễn phí: 0989324999 / 0963678120
        p
            b Email: sportplay@gmail.com
        p 
            b Địa chỉ: Sport Play - 90 Hàm Nghi, Nam Từ Liêm, Hà Nội


    //---------------- footer ------------------
    include includes/footer 