extends layout

block content
    //------------------ content ----------------
    .news
        h6 VÌ SAO RAFAEL NADAL LUÔN ĐI GIÀY TRẮNG KHI THI ĐẤU WIMBLEDON
        p Nổi tiếng với hình mẫu nổi loạn và những trang phục color block chói mắt, nhưng hễ cứ bước vào Wimbledon là Rafael Nadal chỉ chọn giày Nike tennis trắng mà thôi, tại sao thế nhỉ?
        p 
            b TỪ QUY ĐỊNH NGẶT NGHÈO CỦA GIẢI ĐẤU SANG CHẢNH NHẤT THẾ GIỚI
        p Với quan niệm tennis là bộ môn dành cho giới quý tộc, có cả một bộ quy tắc ứng xử bất thành văn dành cho những VĐV và cả cổ động viên khi đi xem Wimbledon, trong đó nổi tiếng nhất là quy định “chỉ được mặc đồ trắng hoặc hầu hết là màu trắng trên sân”. 
            | Nhiều người đã tìm cách tẩy chay, lên án nhưng không thể làm thay đổi truyền thống này, thậm chí các VĐV lách luật còn bị cấm thi đấu.
        p Vì thế, dù có thích màu mè thế nào, Rafael Nadal cũng đành vui vẻ ra sân với một đôi giày Nike tennis trắng, cùng combo quần áo tennis, băng đô và túi xách cũng … trắng tinh. 
            | Không chỉ Nadal, đối thủ số 1 của anh là Roger Federer chắc chắn cũng sở hữu bộ sưu tập không ít giày Nike trắng trước khi chuyển sang làm gương mặt đại diện cho Uniqlo.
        .newImg
            img(src="/images/tintuc/noitieng.jpg", alt="")
        p 
            b ĐẾN SỰ HỒI SINH CỦA MÀU SẮC HUYỀN THOẠI NHẤT LÀNG THỂ THAO
        p Phần lớn người chơi thể thao yêu thích màu đen vì sạch sẽ, dễ mặc và hấp thụ nhiệt ít. Ở chiến tuyến còn lại, sắc trắng bị “thất sủng” đến mức không còn ai mua sản phẩm này nữa, cho đến khi những trận tennis Wimbledon xuất hiện trên truyền hình. 
            | Sáng bừng, nổi bật, trẻ trung nhưng vẫn nhã nhặn đúng chuẩn thượng lưu, cơn sốt giày Nike trắng bùng nổ đến nỗi nhiều mẫu giày mới đã phải lùi thời hạn sản xuất để có thêm phiên bản màu phù hợp xu thế hơn.
        .newImg
            img(src="/images/tintuc/noitieng1.jpg", alt="")
        p Không chỉ dừng lại ở những đôi giày Nike Tennis như Air Zoom Prestige, Air Zoom Resistance, những bộ môn khác như bóng đá, bóng rổ, chạy bộ cũng đã có những phiên bản trắng cực kì hút mắt như Air Max Wildcard, DownShifter 9, Revolution 4, Air Max Sequent … và hấp dẫn đủ mọi tầng lớp khách hàng.
        .newImg
            img(src="/images/tintuc/noitieng2.jpg", alt="")
        p Với một đôi giày Nike trắng nam, để giữ vẻ nam tính, ít khi giày có một màu trắng tuyền duy nhất, mà luôn được mix với những line màu mạnh mẽ như đỏ rượu, ghi xám, vàng mustard, đen đá … Những điểm nhấn trên nền trắng tôn lên cá tính riêng của mẫu giày, đồng thời khiến đôi giày trở nên đẹp, hiện đại và dễ phối đồ hơn.
        p
            b Hotline tư vấn miễn phí: 0989324999 / 0963678120
        p
            b Email: sportplay@gmail.com
        p 
            b Địa chỉ: Sport Play - 90 Hàm Nghi, Nam Từ Liêm, Hà Nội


    //---------------- footer ------------------
    include includes/footer 