extends layout

block content

    //------------------ content ----------------
    .news
        h6 GIẦY NIKE CHÍNH HÃNG – ĐẮT XẮT RA MIẾNG
        p Vẫn còn vô số người ngạc nhiên khi nhìn đến tag giá của một đôi giầy Nike chính hãng. Bởi, kể cả những đôi giầy có ngoại hình vô cùng bình thường cũng sở hữu mức giá đơn vị hàng triệu đồng. 
            |Hãy để fan chính hiệu của dòng giày đình đám Nike giải thích cho bạn!
        .newImg
            img(src="/images/tintuc/nikesalee.jpg", alt="")
        p
            b THƯƠNG HIỆU ĐẲNG CẤP
        p Sự góp mặt của logo Nike sẽ tự động nâng giá trị của bất cứ sản phẩm nào lên gấp 10 lần. Không phải tự nhiên Nike lại trở thành thương hiệu bị làm giả, làm nhái quá nhiều. 
            | Nike là thương hiệu thời trang thể thao tiên phong, có mặt trên thị trường từ giữa thập niên 60. 
            | Qua 55 năm phát triển không ngừng, mức độ nổi tiếng và chất lượng vượt bậc từ những sản phẩm quần, áo, giầy Nike chính hãng,… đã được người tiêu dùng trên khắp thế giới công nhận
        p 
            b CHỈ GIẦY NIKE CHÍNH HÃNG MỚI SỞ HỮU CÔNG NGHỆ ĐẾ KHÁC BIỆT & CHẤT LƯỢNG
        p Nike là thương hiệu “ruột” của đa số vận động viên chuyên nghiệp thế giới, có thể kể tên những bộ môn thể thao phổ biến nhất như điền kinh, bóng rổ, bóng đá, gym, quần vợt,... Nike sớm tìm ra hướng đi đúng đắn và lâu dài cho bản thân khi tập trung vào nghiên cứu và phát triển những công nghệ độc quyền. 
            | Điển hình là những sản phẩm giày thể thao, cùng những công nghệ đế giày nổi tiếng như Air Max, Lunarlon, Free, React,…
        .newImg
            img(src="/images/tintuc/nikesale.jpg", alt="")
        p Điểm làm nên giá trị của những đôi giầy Nike chính hãng là trải nghiệm mang lại khi sử dụng. Nghiên cứu cho từng dòng sản phẩm chuyên biệt giúp bảo vệ sức khỏe đôi bàn chân, đồng thời mang tới sự êm ái, nhẹ nhàng và thoải mái nhất trong quá trình vận động thể thao lâu dài.
        p 
            b NHỮNG PHIÊN BẢN GIỚI HẠN VỚI SỨC HẤP DẪN VÔ BIÊN GIỚI
        p Luôn có một công thức thành công chung của mọi thương hiệu nổi tiếng, như để tăng thêm sự cuồng nhiệt của người hâm mộ đối với thương hiệu của mình, đó là việc thỉnh thoảng tung ra những bộ sưu tập với số lượng giới hạn. Những phiên bản này có thể là sự kết hợp giữa Nike và người nổi tiếng hoặc thương hiệu khác.
        .newImg
            img(src="/images/tintuc/nikeesale.png", alt="")
        p Nike Kyrie 4 phiên bản giới hạn chỉ được bày bán tại 1 vài store trên thế giới
        p Mức giá cho những phiên bản đặc biệt này thậm chí có thể được "thổi phồng" lên hàng chục lần. Dẫu vậy, sức hút mãnh liệt của chúng vẫn khiến hàng triệu "đầu giày" săn đón và tìm mua cho bằng được. Không thể phủ nhận, việc phối màu hoàn toàn mới mẻ, lại thêm hiệu ứng từ sức ảnh hưởng của giới siêu sao thực sự nâng cấp đáng kể ngoại hình của một đôi giày bất kỳ. 
            | Chưa kể, việc giới hạn số lượng đôi giày càng khiến giới hâm mộ cuồng nhiệt, thứ gì mất càng nhiều công sức để có được, người ta sẽ càng nâng niu và quý trọng. Vậy, cái giá trên trời chẳng là vấn đề, chỉ cần biết nó là giầy Nike chính hãng và là phiên bản vô cùng giới hạn là đủ rồi.
        p
            b Hotline tư vấn miễn phí: 0989324999 / 0963678120
        p
            b Email: sportplay@gmail.com
        p 
            b Địa chỉ: Sport Play - 90 Hàm Nghi, Nam Từ Liêm, Hà Nội


    //---------------- footer ------------------
    include includes/footer 