extends layout

block content

    //------------------- content ----------------
    .news
        h6 NIKE PEGASUS 36 HAKONE - CÔNG NGHỆ CAO, MÀU ĐỘC ĐÁO, CHINH PHỤC HÀNG TRIỆU RUNNER NHẬT
        p 
            i Nike Pegasus 36 Hakone đã nhận được khá nhiều phản hồi tích cực từ những người dùng trong thực tế kể từ khi ra mắt. Cùng tìm hiểu Nike Pegasus 36 Hakone có gì đặc biệt ngay sau đây bạn nhé!
        p
            b NIKE PEGASUS 36 
            | NỔI TIẾNG VỚI CÔNG NGHỆ ĐỈNH CAO
        p Có thể dễ dàng nhận thấy vẻ ngoài của giày thể thao Nike Pegasus 36 được thừa hưởng khá nhiều từ phiên bản Pegasus 35, nhưng công nghệ lại được nâng cấp khá nhiều. 
            | Tập trung vào trải nghiệm của người dung theo tiêu chí nhanh hơn, bền hơn và êm hơn, Pegasus 36 có thể dễ dàng chinh phục bất cứ ai, kể cả những khách hàng khó tính nhất. 
        .newImg
            img(src="/images/tintuc/nikee36.png", alt="")
        p Phần UPPER (phía trên) của Nike Pegasus 36 được cải tiến mỏng hơn, những lỗ thoáng khí được phân bố dày đặc hơn so với Pegasus 35. Điều đó giúp bàn chân luôn thông thoáng, khô ráo khi sử dụng, kể cả khi bạn hoạt động liên tục dưới điều kiện thời tiết nóng ẩm như Việt Nam. 
            | Phần lưỡi gà của Pegasus 36 cũng được thu gọn lại, mỏng hơn. Đặc biệt, phần lưỡi gà rời và có độ vát chính xác sẽ dễ xỏ chân, phù hợp với mọi loại cổ chân, kể cả với những người có phần cổ chân phía trên hơi dày thì Pegasus 36 vẫn là lựa chọn hoàn hảo.
        p Giữ nguyên thiết kế đã quá tốt từ Pegasus 35, phần OUTSOLE (đế ngoài) của Pegasus 36 cũng sử dụng bộ đế cao su định hình và công nghệ chống mài mòn tiên tiến nhất. Nhờ đó, bạn sẽ không phải ái ngại về việc trơn trượt hay gặp chấn thương trong quá trình sử dụng nữa.
        .newImg
            img(src="/images/tintuc/nik36.jpeg", alt="")
        p Mỗi dòng sản phẩm, Nike đều cho ra mắt nhiều phiên bản với những đặc điểm, ý nghĩa riêng. Và tất nhiên, “siêu phẩm” Pegasus 36 cũng được tung ra nhiều phiên bản màu khiến các Fan Nike vô cùng tự hào và thích thú. 
        p 
            b NIKE PEGASUS 36 HAKONE ĐỘC LẠ DÀNH RIÊNG CHO THỊ TRƯỜNG NHẬT BẢN
        p Bởi dành riêng cho Nhật Bản – thị trường vô cùng khó tính, luôn đề cao sự độc đáo, ấn tượng trong thiết kế mà Pegasus 36 Hakone có vẻ ngoài vô cùng bóng bẩy. Sự khác biệt đến từ màu xanh, đen và cam của đôi giày. 
        .newImg
            img(src="/images/tintuc/nike36Hakone.jpg", alt="")
        p Màu xanh là một trong những màu may mắn quan trọng nhất ở Nhật Bản, trong khi màu cam biểu thị cho nền văn minh và kiến ​​thức thì màu đen chỉ đơn giản là một màu phổ biến trong thời trang của đất nước mặt trời mọc. 
            | Nike đã cho thấy sự đột phá trong phối màu cho Pegasus 36 Hakone với màu xanh loang vừa phải ở phần đế, dây giày màu cam làm điểm nhấn, dòng chữ trắng Nike bằng tiếng nhật nổi bật ở phần má trong những cũng không quên logo để tăng độ nhận diện thương hiệu. 
            | Với từng ấy ý đồ khi thiết kế Pegasus 36 Hakone, Nike thực sự khiến người dùng phải thốt lên hai từ “Hoàn hảo” 
        p Với công nghệ vượt trội cùng thiết kế nổi bật, Nike Pegasus 36 Hakone sẽ là mẫu giày phù hợp với bất kì ai, đặc biệt khi bạn là người yêu thích chạy bộ. Nếu chưa từng đi giày thể thao Nike thì Nike Pegasus 36 Hakone chắc chắn sẽ mang đến cho bạn những trải nghiệm mới mẻ và thú vị nhất mỗi khi chạy bộ, đi bộ, tập gym, groupX cho đến những hoạt động thường ngày. 
        p 
            b NIKE PEGASUS 36 HAKONE ĐÃ CHINH PHỤC CÁC RUNNER NHẬT BẢN NHƯ THẾ NÀO?
        p Anh Akihiko đến từ Tokyo nhận xét: “Đệm giày rất êm, trọng lượng giày nhẹ, không gây cảm giác nặng chân và phản hồi tốt trong mỗi bước chạy”.
        .newImg
            img(src="/images/tintuc/nike36.jpg", alt="")
        p Anh Atsushi từ Hirosima đưa ý kiến: “Phần lưỡi gà mảnh, cổ giày và dây buộc chắn chắn khiến chân không bị trượt và xê dịch bên trong. Hơn nữa, tôi rất thích khi thân giày ôm chân thoải mái, thoáng khí và không cản trở gì khi tôi di chuyển rất nhiều trong ngày.”
        p “Tôi yêu chạy bộ, và tôi cũng rất quan tâm đến thời trang. Chính vì vậy, tôi chọn Nike Pegasus 36 Hakone vì nó là mẫu giày chạy tốt nhất, màu sắc của nó rất đẹp, tôi có thể dễ dàng phối với các kiểu trang phục khác nhau.” Anh Hideaki ở Osaka chia sẻ. 
        p Bạn nghĩ, đôi giày riêng cho thị trường Nhật sẽ rất khó tìm được tại Việt Nam? Đừng lo, có một thông tin tuyệt vời dành cho bạn đó là, mẫu giày thể thao Nike Pegasus 36 Hakone đang có mặt tại Hệ thống siêu thị thể thao SPORT Hà Nội. Mua giày thể thao Nike Pegasus 36 tại SPORT PLAY ngay hôm nay bạn nhé!
        p
            b Hotline tư vấn miễn phí: 0989324999 / 0963678120
        p
            b Email: sportplay@gmail.com
        p 
            b Địa chỉ: Sport Play - 90 Hàm Nghi, Nam Từ Liêm, Hà Nội






    //------------- footer ----------------------
    include includes/footer
    