extends layout

block content

    //---------------- content ----------------
    .news
        h6 SIÊU BÃO SALE SỐC -  MUA HÀNG HIỆU ADIDAS GIÁ GỐC TẠI SPORT PLAY
        p 
            i Từ 22/3 - 3/4/2020, SPORT PLAY ưu đãi đến 50% giá niêm yết cho khách hàng mua đồ thời trang Adidas chính hãng tại SPORT PLAY. 
                | Đây được coi là siêu bão mua hàng hiệu - giá đặc biệt cho tín các đồ mê đồ thể thao Adidas chính hãng. Mua hàng hiệu chính hãng lại còn săn được giá tốt, nhanh chân qua ngay SPORT PLAY các bạn ơi!
        p Tại showroom SPORT PLAY được coi là thế giới của đồ thể Adidas chính hãng với đầy đủ các dòng sản phẩm như: giày Adidas, trang phục thể thao Adidas, phụ kiện Adidas... 
            | Bạn dễ dàng tìm thấy các mã sản phẩm Adidas với đầy đủ kiểu dáng, mẫu mã mới nhất và bảng size luôn cập nhật đầy đủ.
        p Với chương trình sale tháng 3, 
            b ƯU ĐÃI TẬN GỐC ĐẾN 50%, 
            | khách hàng sẽ được mua đồ thể thao Adidas chính hãng mới mức giá sale không tưởng. 
            | Rất nhiều các dòng sản phẩm như Adidas running, Adidas training, Adidas sportwear... đều nằm trong danh sách sale đặc biệt dịp này.
        .newImg
            img(src="/images/tintuc/up50.png", alt="")
        p SPORT PLAY áp dụng song song chương trình 
            b “Thử giày tại nhà – Không cần trả ship”. 
            | Theo đó các khách hàng muốn thử giày tại nhà sẽ được nhân viên SPORT PLAY mang về tận nhà để thử. Khách hàng sẽ không phải trả phí ship trong mọi trường hợp: không ưng, không đi vừa…Với các đơn hàng online, SPORT PLAY hỗ trợ miễn phí vận chuyển trong nội thành Hà Nội
        .newImg
            img(src="/images/tintuc/upto50.jpg", alt="")
        p Chương trình khuyến mại sâu, cùng chính sách bán hàng linh hoạt, thanh toán nhanh chóng và tư vấn sản phẩm tận tâm, dự báo các siêu thị thể thao SPORT sẽ trở thành tâm điểm hot nhất tại Hà Nội trong nửa cuối tháng 3 này.
        p
            b Hotline tư vấn miễn phí: 0989324999 / 0963678120
        p
            b Email: sportplay@gmail.com
        p 
            b Địa chỉ: Sport Play - 90 Hàm Nghi, Nam Từ Liêm, Hà Nội

    //---------------footer --------------------
    include includes/footer
    