extends layout

block content
    
    //-------content-----------------
    .news
        h6 TUẦN LỄ THỂ THAO - TIỄN CHÀO COVID VỚI HÀNG NGÀN ĐỒ THỂ THAO CHÍNH HÃNG CHỈ TỪ 169K
        p Với quyết tâm cùng cộng đồng chung tay đẩy lùi dịch bệnh, phát động tinh thần thể thao nâng cao sức khỏe, 
            |THÁNG 5 - THÁNG THỂ THAO trở lại tại SPORT PLAY với hàng loạt các chương trình khuyến mại hấp dẫn hiếm có trong năm.
        .newImg
            img(src="/images/tintuc/bannerthoitrangt5.jpg", alt="")
        p Theo đó, từ ngày 4/5 đến hết ngày 30/5/2020, SPORT PLAY tung ra hàng loạt chương trình ưu đãi hấp dẫn cho khách hàng khi mua đồ thể thao chính hãng. Cụ thể như sau:
        
        p - Thời trang chính hãng ADIDAS, NIKE đồng giá chỉ từ 189K / sản phẩm
        p - Bộ sưu tập giày CỰC ĐỈNH của ADIDAS, NIKE sale upto 30%
        .newImg
            img(src="/images/tintuc/thangtt5.png", alt="")
        p - Cùng rất nhiều phụ kiện thể thao cao cấp!
        p - Thời gian áp dụng: 04/5 - hết 31/5/2020
        p - Áp dụng trên toàn hệ thống online & offline của SPORT PLAY
        p
            b Hotline tư vấn miễn phí: 0989324999 / 0963678120
        p
            b Email: sportplay@gmail.com
        p 
            b Địa chỉ: Sport Play - 90 Hàm Nghi, Nam Từ Liêm, Hà Nội

    //--------- footer ------------
    include includes/footer