extends layout
block content

    //---===========content======================
    .newBox
        //------tuần lễ tháng 5------------------
        h3 Bạn đã sẵn sàng khám phá các tin tức nóng hổi chưa !!!
        .new1bx(data-aos='flip-right' data-aos-easing="ease-out-cubic" data-aos-duration="2000")
            .row
                .newimg.col-sm-4
                    a(href="/new/thang5")
                        img(src="/images/tintuc/bannerthoitrangt5.jpg" alt="")
                .newtext.col-sm-8
                    a(href="/new/thang5")
                        h5 TUẦN LỄ THỂ THAO - TIỄN CHÀO COVID VỚI HÀNG NGÀN ĐỒ THỂ THAO CHÍNH HÃNG CHỈ TỪ 169K
                    P Với quyết tâm cùng cộng đồng chung tay đẩy lùi dịch bệnh, phát động tinh thần thể thao nâng cao sức khỏe, 
                        |THÁNG 5 - THÁNG THỂ THAO trở lại tại SPORT PLAY với hàng loạt các chương trình khuyến mại hấp dẫn hiếm có trong năm.
                    a.btn.btn-info(href='/new/thang5' role='button') Xem Thêm

        //-------------sale 50%------------------
        .new1bx(data-aos='fade-right' data-aos-offset="300" data-aos-easing="ease-in-sine")
            .row
                .newtext.col-sm-8
                    a(href="/new/sale50")
                        h5 SIÊU BÃO SALE SỐC -  MUA HÀNG HIỆU ADIDAS GIÁ GỐC TẠI SPORT PLAY
                    P Từ 22/3 - 3/4/2020, SPORT PLAY ưu đãi đến 50% giá niêm yết cho khách hàng mua đồ thời trang Adidas chính hãng tại SPORT PLAY. 
                        | Đây được coi là siêu bão mua hàng hiệu - giá đặc biệt cho tín các đồ mê đồ thể thao Adidas chính hãng. Mua hàng hiệu chính hãng lại còn săn được giá tốt, nhanh chân qua ngay SPORT PLAY các bạn ơi!
                    a.btn.btn-info(href='/new/sale50' role='button') Xem Thêm
                .newimg.col-sm-4
                    a(href="/new/sale50")
                        img(src="/images/tintuc/up50.png" alt="")
        //-------------nike 36 hakone-----------------
        .new1bx(data-aos="fade-up" data-aos-duration="1200")
            .row
                .newimg.col-sm-4
                    a(href="/new/nike36")
                        img(src="/images/tintuc/nike36Hakone.jpg" alt="")
                .newtext.col-sm-8
                    a(href="/new/nike36")
                        h5 NIKE PEGASUS 36 HAKONE
                            | CÔNG NGHỆ CAO, MÀU ĐỘC ĐÁO, CHINH PHỤC HÀNG TRIỆU RUNNER NHẬT
                    P NIKE PEGASUS 36 HAKONE đã nhận được khá nhiều phản hồi tích cực từ những người dùng trong thực tế kể từ khi ra mắt. 
                        | Cùng tìm hiểu Nike Pegasus 36 Hakone có gì đặc biệt ngay sau đây bạn nhé!
                    a.btn.btn-info(href='/new/nike36' role='button') Xem Thêm

        //----------- lixi tết--------------
        .new1bx(data-aos="fade-up" data-aos-duration="1200")
            .row
                .newtext.col-sm-8
                    a(href="/new/lixitet")
                        h5 NHẬN LÌ XÌ TẾT - TẾT NGẬP VẬN MAY
                    P Một mùa Tết nữa lại đến và điều chúng ta luôn trông ngóng nhất là gì? Chắc hẳn đó là những phong bao lì xì đỏ trao gửi vạn lời chúc tốt lành. 
                        | SPORT PLAY xin kính chúc khách hàng 1 năm mới an khang - thịnh vượng - phát tài - phát lộc. 
                        | Và đừng quên, SPORT PLAY đã chuẩn bị cho bạn kho quà tặng cực kỳ lớn. Check ngay cùng SPORT PLAY đi!!
                    a.btn.btn-info(href='/new/lixitet' role='button') Xem Thêm
                .newimg.col-sm-4
                    a(href="/new/lixitet")
                        img(src="/images/tintuc/lixitet.jpg" alt="")

        //-------------xã hàng cuối mùa---------------
        .new1bx(data-aos='fade-left' data-aos-offset="400" data-aos-duration="1200")
            .row
                .newimg.col-sm-4
                    a(href="/new/xahangcuoimua")
                        img(src="/images/tintuc/xahang.jpg" alt="")
                .newtext.col-sm-8
                    a(href="/new/xahangcuoimua")
                        h5 XẢ CUỐI MÙA - SALE UP TO 60%
                    P Cú nổ đầu tiên trong tháng 2 này là gì? Đến SPORT PLAY đi, bạn sẽ biết! 
                        | Những tín đồ thể thao và cả thời trang cao cấp sẽ phải bất ngờ với loạt ưu đãi "đánh" trực tiếp vào giá thành, áp dụng trên toàn bộ hệ thống SPORT PLAY. 
                        | Đặc biệt, có sự góp mặt của những sản phẩm vừa mới lên kệ, mới nhất của 2 thương hiệu nổi tiếng Adidas và Nike.
                    a.btn.btn-info(href='/new/xahangcuoimua' role='button') Xem Thêm

        //--------------- nike sale----------------
        .new1bx(data-aos="fade-up" data-aos-duration="1200")
            .row
                .newtext.col-sm-8
                    a(href="/new/nikesale")
                        h5 GIẦY NIKE CHÍNH HÃNG – ĐẮT XẮT RA MIẾNG
                    P Vẫn còn vô số người ngạc nhiên khi nhìn đến tag giá của một đôi giầy Nike chính hãng. 
                        | Bởi, kể cả những đôi giầy có ngoại hình vô cùng bình thường cũng sở hữu mức giá đơn vị hàng triệu đồng. 
                        | Hãy để fan chính hiệu của dòng giày đình đám Nike giải thích cho bạn!
                    a.btn.btn-info(href='/new/nikesale' role='button') Xem Thêm
                .newimg.col-sm-4
                    a(href="/new/nikesale")
                        img(src="/images/tintuc/nikesale.jpg" alt="")

        //------------ người nổi tiếng-----------------
        .new1bx(data-aos="fade-up" data-aos-duration="1200")
            .row
                .newimg.col-sm-4
                    a(href="/new/nguoinoitieng")
                        img(src="/images/tintuc/noitieng.jpg" alt="")
                .newtext.col-sm-8
                    a(href="/new/nguoinoitieng")
                        h5 VÌ SAO RAFAEL NADAL LUÔN ĐI GIÀY NIKE TRẮNG KHI THI ĐẤU WIMBLEDON
                    P Nổi tiếng với hình mẫu nổi loạn và những trang phục color block chói mắt, nhưng hễ cứ bước vào Wimbledon là Rafael Nadal chỉ chọn giày Nike tennis trắng mà thôi, tại sao thế nhỉ?
                    a.btn.btn-info(href='/new/nguoinoitieng' role='button') Xem Thêm


    script.
        AOS.init();
    //---===============footer-------------------
    include includes/footer