.carouselBx
    //--=============wavy text---==========================
    .wavy
        span(style='--i:1;') W
        span(style='--i:2;') E
        span(style='--i:3;') L
        span(style='--i:4;') C
        span(style='--i:5;') O
        span(style='--i:6;') M
        span(style='--i:7;') E
        span(style='--i:8;') - 
        span(style='--i:9;') T
        span(style='--i:10;') O
        span(style='--i:11;') - 
        span(style='--i:12;') S
        span(style='--i:13;') P
        span(style='--i:14;') O
        span(style='--i:15;') R
        span(style='--i:16;') T
        span(style='--i:17;') - 
        span(style='--i:18;') P
        span(style='--i:19;') L
        span(style='--i:20;') A
        span(style='--i:21;') Y
        span(style='--i:22;') 
        span(style='--i:23;') !
    
