
.container
    //------- tính năng -------------
    h1 Các tính năng nổi bật của shop
    .feature-area
        .row.justify-content-center
            .single-feature.col-sm-12.col-md-6.col-lg-3
                .feature-img
                    img(src="/images/features/f-icon1.png" alt="")
                h6 Giao hàng miễn phí
                p Miễn phí ship mọi đơn hàng
            .single-feature.col-sm-12.col-md-6.col-lg-3
                .feature-img
                    img(src="/images/features/f-icon2.png" alt="")
                h6 Chính sách hoàn trả
                p Miễn phí ship mọi đơn hàng
            .single-feature.col-sm-12.col-md-6.col-lg-3
                .feature-img
                    img(src="/images/features/f-icon3.png" alt="")
                h6 Hổ trợ 24/7
                p Miễn phí ship mọi đơn hàng
            .single-feature.col-sm-12.col-md-6.col-lg-3
                .feature-img
                    img(src="/images/features/f-icon4.png" alt="")
                h6 Thanh toán an toàn
                p Miễn phí ship mọi đơn hàng

    //---------------- category area--------------
    section
        .category-area
            .row.justify-content-center
                .categoy-left.col-lg-8.col-md-12
                    .row
                        .single-product.col-lg-8.col-md-8
                            .single-img
                                img(src="/images/content/c1.jpg" alt="")
                            a.link-single(href="/GiayTheThao") Sneaker For Sport
                        .single-product.col-lg-4.col-md-4
                            .single-img
                                img(src="/images/content/c2.jpg" alt="")
                            a.link-single(href="/GiayTheThao") Sneaker For Sport
                        .single-product.col-lg-4.col-md-4
                            .single-img
                                img(src="/images/content/c3.jpg" alt="")
                            a.link-single(href="/GiayTheThao") Sneaker For Sport
                        .single-product.col-lg-8.col-md-8
                            .single-img
                                img(src="/images/content/c4.jpg" alt="")
                            a.link-single(href="/GiayTheThao") Sneaker For Sport
                .category-right.col-lg-4.col-md-6
                    .category-right-img
                        img(src="/images/content/contentf6.jpg" alt="")
                    p Black Friday

    //-------------- sp nổi bật --------------
    section
        .content-products
            h2 ------------------ Hot Product -----------------------
            .text-hot
                p Mẫu về tận tay, săn ngay kẻo hết
            //------------sp----------------------
            .row
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img#img1.img-prd(data-toggle='tooltip' data-placement='right' title="Thiết kế đẹp, bền, phom giày ôm chân người mang. Đế giày có các đường vân xương cá kết hợp vân lục giác giúp bám sân và hỗ trợ dừng đột ngột cực tốt.")(src="/images/giay/adidas/adidas-ACE-17.1-Primeknit.jpg" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Giày-Adidas-ACE-17.1-Primeknit
                            .content-product-details
                                .price
                                    span.money 1200000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                    
                        
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img#img2.img-prd(data-toggle='tooltip' data-placement='right' title="Thiết kế đơn giản, tinh tế. Đường may tỉ mỉ, chắc chắn, nhẹ, mềm, đi êm chân.Đế có rãnh chống trơn trượt, đàn hồi tốt. Kiểu dáng hiện đai, trẻ trung, năng động.")(src="/images/giay/GiayTheThao/d1730_HanQuoc.jpg" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Giày-thể-thao-nữ-HQ
                            .content-product-details
                                .price
                                    span.money 250000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                    
                        
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img#img3.img-prd(data-toggle='tooltip' data-placement='right' title="Màu sắc đa dạng, dễ đi, thoải mái,mang lại cảm giác mềm, êm cho bàn chân. Mũi giày được dán keo và khâu may chắc chắn. Đế có đinh chống trơn trượt, bám cỏ tốt. ")(src="/images/giay/nike/Nike-Mercurial-Superfly-VI-Academy-FG-AH7362-107.png" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Nike-Mercurial-Superfly-VI-Academy-FG
                            .content-product-details
                                .price
                                    span.money 2000000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                    
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img.img-prd(data-toggle='tooltip' data-placement='right' title="Màu sắc đa dạng, dễ đi, thoải mái,mang lại cảm giác mềm, êm cho bàn chân. Mũi giày được dán keo và khâu may chắc chắn. Đế có đinh chống trơn trượt, bám cỏ tốt. ")(src="/images/giay/nike/nike Mercurial Suoerfly VI.png" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Giày Nike Mercurial Suoerfly VI
                            .content-product-details
                                .price
                                    span.money 2500000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                    
                        
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img.img-prd(data-toggle='tooltip' data-placement='right' title="Thiết kế đơn giản, tinh tế. Đường may tỉ mỉ, chắc chắn, nhẹ, mềm, đi êm chân.Đế có rãnh chống trơn trượt, đàn hồi tốt. Kiểu dáng hiện đai, trẻ trung, năng động.")(src="/images/giay/GiayTheThao/p1.jpg" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Giày Sneaker Nam
                            .content-product-details
                                .price
                                    span.money 250000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                    
                        
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img.img-prd(data-toggle='tooltip' data-placement='right' title="Thiết kế đơn giản, tinh tế. Đường may tỉ mỉ, chắc chắn, nhẹ, mềm, đi êm chân.Đế có rãnh chống trơn trượt, đàn hồi tốt. Kiểu dáng hiện đai, trẻ trung, năng động.")(src="/images/giay/GiayTheThao/p4.jpg" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Giày thể thao nam đẹp đi êm chân
                            .content-product-details
                                .price
                                    span.money 400000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                    
                        
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img.img-prd(data-toggle='tooltip' data-placement='right' title="Thiết kế đơn giản, tinh tế. Đường may tỉ mỉ, chắc chắn, nhẹ, mềm, đi êm chân.Đế có rãnh chống trơn trượt, đàn hồi tốt. Kiểu dáng hiện đai, trẻ trung, năng động.")(src="/images/giay/GiayTheThao/p5.jpg" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Giày-thể-thao-nam
                            .content-product-details
                                .price
                                    span.money 200000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                                
                .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
                    .box-product
                        //--------- ảnh---------------------------
                        .img-product
                            img.img-prd(data-toggle='tooltip' data-placement='right' title="Thiết kế đơn giản, tinh tế. Đường may tỉ mỉ, chắc chắn, nhẹ, mềm, đi êm chân.Đế có rãnh chống trơn trượt, đàn hồi tốt. Kiểu dáng hiện đai, trẻ trung, năng động.")(src="/images/giay/GiayTheThao/p6.jpg" alt="")
                        //------------- nội dung product-------------------
                        .content-product
                            h5.title-product Giày-thể-thao-sneaker-nam-màu đỏ
                            .content-product-details
                                .price
                                    span.money 350000 đ
                                .size-product 
                                    p 
                                        b Size : 
                                        |35 - 40
                                button.btn.btn-cart(type='button') Add to cart
                    
                        

    //-------------------- sp mới -------------------
    section
        .content-products
            h2 --------------------- New Products ------------------------
            .row.justify-content-center
                .new-pro1.col-lg-4.col-md-6
                    .new-pro-img
                        img(src="/images/content/6.jpg" alt="")
                    .new-pro-img
                        img(src="/images/giay/GiayTheThao/giày-Adidas-nam-560.jpg" alt="")
                .new-pro2.col-lg-8.col-md-12
                    .row
                        .main-content-product.col-12.col-sm-6.col-lg-4
                            .box-product
                                //--------- ảnh---------------------------
                                .img-product
                                    img.img-prd(data-toggle='tooltip' data-placement='right' title="Giày Kawasaki bền, đẹp, đi êm chân, kích cỡ chuẩn size phù hợp cả nam nữ, giày ôm khít cổ chân bật nhảy khá êm, hoàn toàn phù hợp cho người chơi cầu lông cơ bản và chuyên nghiệp.")(src="/images/CauLong/giay/giay-cau-long-kawasaki-k065-750.jpeg" alt="")
                                //------------- nội dung product-------------------
                                .content-product
                                    h5.title-product Giày-cầu-lông-kawasaki
                                    .content-product-details
                                        .price
                                            span.money 750000 đ
                                        button.btn.btn-cart(type='button') Add to cart
                        .main-content-product.col-12.col-sm-6.col-lg-4
                            .box-product
                                //--------- ảnh---------------------------
                                .img-product
                                    img.img-prd(data-toggle='tooltip' data-placement='right' title="Vợt có trọng lượng vung tương đối thấp và đầu vợt nhẹ giúp đánh êm tay cũng như giúp tạo tầm vung rộng, làm tăng cường thêm lực đánh.")(src="/images/tennis/vot-tennis-babolat-boost-drive-2080.jpg" alt="")
                                //------------- nội dung product-------------------
                                .content-product
                                    h5.title-product Vợt-Tennis-Babolat-Boost
                                    .content-product-details
                                        .price
                                            span.money 2080000 đ
                                        button.btn.btn-cart(type='button') Add to cart
                        .main-content-product.col-12.col-sm-6.col-lg-4
                            .box-product
                                //--------- ảnh---------------------------
                                .img-product
                                    img.img-prd(data-toggle='tooltip' data-placement='right' title="Form mặc ôm người, chất liệu tốt, thiết kế đẹp. Nhiều mẫu, màu sắc khác nhau phù hợp mọi lứa tuổi.Độ co dãn tốt, giúp thoáng mát và thoải mái khi vận động.")(src="/images/bongda/Man_U/ManU10.jpg" alt="")
                                //------------- nội dung product-------------------
                                .content-product
                                    h5.title-product Áo Bóng Đá CLB MU
                                    .content-product-details
                                        .price
                                            span.money 110000 đ
                                        button.btn.btn-cart(type='button') Add to cart 
                    .row.justify-content-around
                        .main-content-product.col-4
                            .box-product
                                //--------- ảnh---------------------------
                                .img-product
                                    img.img-prd(data-toggle='tooltip' data-placement='right' title="Thiết kế có thể cuộn lại gọn gàng, độ bám cao, chống trơn trượt. Chịu nước tốt và kháng khuẩn, vệ sinh thảm tập dễ dàng.")(src="/images/yoga/tham-360s-venus-2-lop-6mm-350.jpg" alt="")
                                //------------- nội dung product-------------------
                                .content-product
                                    h5.title-product Thảm Yoga-360s-venus-2lop
                                    .content-product-details
                                        .price
                                            span.money 350000 đ
                                        button.btn.btn-cart(type='button') Add to cart
                        .main-content-product.col-4
                            .box-product
                                //--------- ảnh---------------------------
                                .img-product
                                    img.img-prd(data-toggle='tooltip' data-placement='right' title="Vợt chính hãng, mẫu mã đa dạng,cán vợt có độ cứng vừa phải, thích hợp với lối chơi tấn công mạnh mẽ và lên lưới toàn diện. Chất liệu siêu bền giữ vợt không bị móp méo, góp phần tăng độ dẻo dai của vợt, giá thành hợp lí với người dùng.")(src="/images/CauLong/vot/Lining_Sport-VN_250.jpg" alt="")
                                //------------- nội dung product-------------------
                                .content-product
                                    h5.title-product Vợt Cầu Lông Lining_Sport
                                    .content-product-details
                                        .price
                                            span.money 250000 đ
                                        button.btn.btn-cart(type='button') Add to cart
                        //- 

//----------
    //- .bestseller
        h2 ----- Hàng Bán Chạy -----
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .imgBx
                        img(src="/images/giay/adidas/adidas gloro 16.2 FG core.jpg" alt="")
                    .details
                        h5 Giày Adidas Gloro 16.2 FG core
                        span.price 1 200 000 đ
                    .seemore
                        a.btn.btn-info(href='/GiayAdidas' role='button') Xem Thêm 
                .swiper-slide
                    .imgBx
                        img(src="/images/CauLong/vot/promax-armortec-524-320.jpg" alt="")
                    .details
                        h5 Vợt Cầu Lông PROMAX-ARMORTEC
                        span.price 320.000 đ
                    .seemore
                        a.btn.btn-info(href='/CauLong' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/yoga/tham-360s-venus-2-lop-6mm-350.jpg" alt="")
                    .details
                        h5 Thảm Yoga-360s-venus-2-lop-6mm
                        span.price 350.000 đ
                    .seemore
                        a.btn.btn-info(href='/Yoga' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/giay/adidas/adidas gloro 16.2 stellar.jpg" alt="")
                    .details
                        h5 Giày Adidas Gloro 16.2 Stellar
                        span.price 1.650.000 đ
                    .seemore
                        a.btn.btn-info(href='/GiayAdidas' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/bongda/ThaiLan/tl1.jpg" alt="")
                    .details
                        h5 Áo Bóng Đá Thái Lan
                        span.price 250.000 đ
                    .seemore
                        a.btn.btn-info(href='/AoThaiLan' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/giay/nike/Nike-PhantomVSN-2.jpeg" alt="")
                    .details
                        h5 Giày Nike-PhantomVSN-2
                        span.price 2.200.000 đ
                    .seemore
                        a.btn.btn-info(href='/GiayNikes' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/bongda/Liverpool/li1.jpg" alt="")
                    .details
                        h5 Áo Bóng Đá Liverpool
                        span.price 150.000 đ
                    .seemore
                        a.btn.btn-info(href='/LiverPool' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/bongda/Man_U/ManU10.jpg" alt="")
                    .details
                        h5 Áo Bóng Đá Manchester United
                        span.price 200.000 đ
                    .seemore
                        a.btn.btn-info(href='/ManchesterUnited' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/giay/nike/nike Mercucial.jpg" alt="")
                    .details
                        h5 Giày Nike Mercucial
                        span.price 980.000 đ
                    .seemore
                        a.btn.btn-info(href='/GiayNikes' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/bongda/VN/vn1.jpg" alt="")
                    .details
                        h5 Áo Bóng Đá Việt Nam
                        span.price 160.000 đ
                    .seemore
                        a.btn.btn-info(href='/AoVietNam' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/tennis/vot-tennis-babolat-boost-drive-2080.jpg" alt="")
                    .details
                        h5 Vợt Tennis Babolat Boost
                        span.price 2.080.000 đ
                    .seemore
                        a.btn.btn-info(href='/Tennis' role='button') Xem Thêm
                .swiper-slide
                    .imgBx
                        img(src="/images/giay/GiayTheThao/Giày-Sneaker-Nam-Sport-Thể-Thao.jpg" alt="")
                    .details
                        h5 Giày Sneaker Nam 
                        span.price 249.000 đ
                    .seemore
                        a.btn.btn-info(href='/GiayTheThao' role='button') Xem Thêm
            //--------- thêm phân trang ----------
            .swiper-pagination
                        img.img-prd(src="/images/giay/GiayTheThao/d1730_HanQuoc.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product giay-the-thao-nữ-HQ
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 1200000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/giay/adidas/adidas Predator 18.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product adidas Predator 18
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 1200000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-     .seemore
    //-         a.btn.btn-info(href='#' role='button') Xem Thêm   

//-------------quần áo-------------------
    //- .content-products
    //-     h2 -------- Quần áo --------
    //-     .row(data-aos='flip-left' data-aos-easing="ease-out-cubic" data-aos-duration="1000")
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/bongda/Liverpool/li1.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Áo Đội Tuyển Liverpool
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 160000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/bongda/Man_U/ManU1.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Áo Đội Tuyển MU
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 150000 đ
    //-                         button.//----------- giày-----------------
    //- .content-products
    //-     h2 -------- Giày --------
    //-     .row(data-aos='flip-up' data-aos-easing="ease-out-cubic" data-aos-duration="1000")
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/giay/GiayTheThao/Giày-Sneaker-Nam-Sport-Thể-Thao.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Giày-Sneaker-Nam
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 1200000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/giay/nike/nike junior mercurial.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product nike junior mercurial
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 1200000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-   btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/bongda/ThaiLan/tl1.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Áo Bóng Đá Thái Lan
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 140000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/bongda/VN/vn1.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Áo Bóng Đá Việt Nam
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 120000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-     .seemore
    //-         a.btn.btn-info(href='#' role='button') Xem Thêm   

    //- //------------- sản phẩm khác---------------
    //- .content-products
    //-     h2 -------- Sản Phẩm Khác --------
    //-     .row(data-aos="fade-up" data-aos-duration="1000")
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/CauLong/giay/giay-cau-long-kawasaki-k065-750.jpeg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Giày-cầu-lông-kawasaki
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 750000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/tennis/vot-tennis-babolat-boost-drive-2080.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Vợt-Tennis-Babolat-Boost
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 2080000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/yoga/khan-trai-tham-yoga-adidas-adyg-10680bk-910.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Khăn-trải-thảm-yoga-Adidas
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 910000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-         .main-content-product.col-12.col-sm-6.col-md-4.col-lg-3
    //-             .box-product
    //-                 //--------- ảnh---------------------------
    //-                 .img-product
    //-                     img.img-prd(src="/images/CauLong/vot/Lining_Sport-VN_250.jpg" alt="")
    //-                 //------------- nội dung product-------------------
    //-                 .content-product
    //-                     h5.title-product Vợt Cầu Lông Lining_Sport
    //-                     .content-product-details
    //-                         .price
    //-                             span.money 250000 đ
    //-                         button.btn.btn-cart(type='button') Buy
    //-     .seemore
    //-         a.btn.btn-info(href='#' role='button') Xem Thêm   

//------------------- news --------------
section
    .news-watch
        h1 News Hot
        .row.justify-content-center
            .card-group
                .content-watch.col-lg-4.col-md-4
                    .card
                        img.card-img-top(src='/images/tintuc/r2.jpg' alt='...')
                        .card-body
                            h5.card-title Let's Go
                            p.card-text
                                | Đi khắp thế gian ngắm phong cảnh với những đôi giày mềm mại, đi không sợ sưng,đau chân .
                            a.btn.btn-primary(href='#') Xem thêm
                .content-watch.col-lg-4.col-md-4
                    .card
                            img.card-img-top(src='/images/tintuc/r1.jpg' alt='...')
                            .card-body
                                h5.card-title Relax
                                p.card-text
                                    | Sau khi hoàn thành công việc, cùng với đôi giày bạn yêu thích hãy đi đến không gian thư giản, tận hưởng hương vị coffee và relax.
                                a.btn.btn-primary(href='#') Xem thêm
                .content-watch.col-lg-4.col-md-4
                    .card
                            img.card-img-top(src='/images/tintuc/xahang.jpg' alt='...')
                            .card-body
                                h5.card-title Sale sốc
                                p.card-text
                                    | Bạn muốn săn giày,đồ thể thao giá rẻ nhưng phải đảm bảo chất lượng thì hãy đến với Sport Play, nhiều mẫu mới đẹp, chất lượng đang chờ đón bạn.
                                a.btn.btn-primary(href='#') Xem thêm


