footer
    .footer_title.col-12 Thỏa sức mua sắm, tận hưởng không gian
    .row
        //- cam kết
        .commitment.col-12.col-sm-6.col-lg-4
            h3 Cam Kết
            p - Đảm bảo chất lượng sản phẩm tốt nhất, vận chuyển trên toàn quốc 
            p - Đổi/ trả sản phẩm lỗi do nhà sản xuất chậm nhất trong vòng 3 ngày
            p - Phục vụ khách hàng 24/7
        //- hot line
        .hotline.col-12.col-sm-6.col-lg-4
            h3 Hot Line
            p - Tell : 0964355271
            p - Phone : 0963678120
            p - Hot line : 0989324999
            p - Email : sportplay@gmail.com
            p - Thời gian làm việc : từ 8.00 am - 22h pm Thứ Hai - Chủ Nhật
        //- liên hệ
        .contact.col-12.col-sm-6.col-lg-4
            h3 Liên hệ
            .row.box-icon
                .icon.col-12.col-sm-6
                    i.fab.fa-facebook 
                    p Face Book
                .icon.col-12.col-sm-6
                    i.fab.fa-facebook-messenger 
                    p Messenger
                .icon.col-12.col-sm-6
                    i.fab.fa-google 
                    p Google
                .icon.col-12.col-sm-6
                    i.fab.fa-twitter 
                    p Twitter