.main-content
{
    overflow: scroll;
    .content-admin
    {
        padding: 5px;
        a 
        {
            margin-bottom: 10px;
            margin-right: 5px;
            
        }
        .sptable
        {
            width: 75vw;
            height: 90vh;
        }
    }
}
