h1 
{
    text-align: center;
    margin: 0;
    padding: 0;
    color: cornflowerblue;
    font-family: 'Leckerli One', cursive;
    
}

.loginForm
{
    width: 50%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid #24f859;
    box-shadow: 2px 2px 20px 2px rgb(90, 234, 245);
    .loginLeft
    {
        float: left;
        width: 50%;
        height: 400px;
        background-image: url(/images/bg/play.jpg);
        background-size: cover;
        box-sizing: border-box;
        background-position: center;
    }
    .loginRight
    {
        float: right;
        width: 50%;
        height: 400px;
        box-sizing: border-box;
        
    }
}
.formBox
{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: white;
    p 
    {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: cornflowerblue;
        
    }
    input 
    {
        width: 100%;
        margin-bottom: 20px;
        font-weight: 500;
    }
    input[type="text"],
    input[type="password"]
    {
        border: none;
        border-bottom: 2px solid blueviolet;
        outline: none;
        height: 40px;
    }
    input[type="text"]:focus,
    input[type="password"]:focus
    {
        border-bottom: 2px solid cornflowerblue;
    }
    input[type="submit"]
    {
        border: none;
        outline: none;
        height: 40px;
        color: white;
        font-weight: 700;
        background-color: cornflowerblue;
        cursor: pointer;
        font-size: 20px;
        &:hover
        {
            background: linear-gradient(110deg, #3abfe0, #d4d2d2,#fda1ff);
            transition: 0.5s;
        }
    }
    a 
    {
        font-size: 18px;
        font-weight: 500;
    }
}
